
header div.hero {
    background-image: url("../imgs/bg_s.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    
    text-align:center;
  
  }
  nav{
      background: #EFB810;
      
  }
  a{
    color: black;
  }
  header div.hero div{
     min-height: 50vh;
  }
  .title{
    font-family: 'Hachi Maru Pop', cursive;
    font-size:2rem;
    color: #EFB810;
    text-shadow: 1px 1px black;
  }
  
  .card img{
    width:100%;
  }
  p{
      color:white;
  }
.ord{
    color: white;
}

  .men{
   
        background-color: transparent;
        color:  white;
        border-color:  #EFB810;
    
  }
  .h2tl{
    color:white;
    
  }
  
  form {
    font-size:1rem !important;
  }
  @media (min-width: 768px) {
          header div.hero {
              background-image: url("../imgs/bg_m.jpg");
              min-height: 80vh;
          }
  
  
          form{
            font-size:2rem !important;
          }
          .title{
            font-size:3rem;
            text-shadow: 3px 3px 3px black;
            padding:0.7em;
            width:100%;
            
          }
        }
  
  @media (min-width: 992px) {
          header div.hero {
              background-image: url("../imgs/bg_l.jpg");
          }
           .title{
            max-width:1024px;
            margin:1em auto;
            
          }
        }
  